:root{
    --border-radius: 20px;
    --margin-sm: 5px;
    --margin-lg: 10px;
    --padding-lg: 10px;
    --padding-sm: 5px;
    --fs-lg: 30px;
    --fs-sm: 20px;
}

.container{
    width: 500px;
    height: fit-content;
    margin: 100px auto;
}

.display-container {
    border: 1px solid gray;
    border-radius: var(--border-radius);
    margin-bottom: var(--margin-lg);
}

.display {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: var(--padding-lg);
    font-size: var(--fs-lg);
}

.btn-remove {
    background-color: rgb(87, 86, 86);
    color: white;
    padding: var(--padding-lg) var(--padding-sm);
    height: 10px;
    display: flex;
    justify-self: end;
    align-items: center;
    font-size: var(--fs-lg);
    margin: 10px;
}

.row .btn-clear {
    background-color: rgb(105, 103, 103);
}


.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--margin-sm);
    justify-content: center;
}

.col {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    font-size: var(--fs-sm);
}

.btn:active {
    transform: scale(0.9);
    opacity: 0.9;
}

.btn{
    background-color: aliceblue;
}


.row .btn-operator, #percentage {
    background-color: rgba(127, 178, 255, 0.5);
}
